manifest {
  name = 'Emmanuel Tan'
  description = 'A pipeline to run delta-TE analysis from raw RNA-seq and Ribo-seq reads'
  version = '0.1'
}

docker.enabled = true
params.outdir = "./results"
process.containerOptions = '-u root'

process {
  cpus   = 4
  memory = '8 GB'
  executor = 'local'
  errorStrategy = 'retry'
}

executor {
  queueSize = 2
}

profiles {
  ci_demo {
    params {
      riboseq_samplesheet   = 'test/demo/RIBO-samplesheet.csv'
      rnaseq_samplesheet    = 'test/demo/RNA-samplesheet.csv'

      abundantReference     = 'test/demo/ribosomal_contaminants.fa'
      humanReferenceTx      = 'test/demo/gencode.v21.pc_transcripts.fa'
      humanReferenceGenome  = 'test/demo/GRCh38.genome.fa'
      humanReferenceAnnot   = 'test/demo/gencode.v21.annotation.subset.gtf'
      salmon_index          = 'test/demo/gencode.v21.pc_transcripts.subset.clean.index/'

      adapters              = 'test/demo/adapters/All_TruSeqForTrimmomatic.fa'
      deltate_samplesheet   = 'test/demo/deltaTE-Samplesheet.tsv'
    }
   }
  rrna_ko {
    params {
      riboseq_samplesheet   = 'test/rrna-ko/RIBO-samplesheet.csv'
      rnaseq_samplesheet    = 'test/rrna-ko/RNA-samplesheet.csv'

      // abundantReference     = '/home/emmanueltan2000/genome_folder/hsa_sno+sn+rRNA.fa'
      abundantReference     = 'test/demo/ribosomal_contaminants.fa'
      humanReferenceTx      = '/home/emmanueltan2000/genome_folder/alias/hg38/fasta_txome/default/hg38.fa'
      humanReferenceGenome  = '/home/emmanueltan2000/genome_folder/alias/hg38/fasta/default/hg38.fa'
      humanReferenceAnnot   = '/home/emmanueltan2000/genome_folder/alias/hg38/gencode_gtf/default/hg38.gtf'
      salmon_index          = '/home/emmanueltan2000/genome_folder/alias/hg38/salmon_sa_index/default'

      adapters              = 'test/demo/adapters/All_TruSeqForTrimmomatic.fa'
      deltate_samplesheet   = 'test/rrna-ko/deltaTE-Samplesheet.tsv'
    }
   }
}

process {
  withName: TRIMMOMATIC {
    publishDir = [ path: "${params.outdir}/trimmed", mode: 'copy' ]
    container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'
    ext.args  = "ILLUMINACLIP:${params.adapters}:2:30:10 MAXINFO:20:0.5 MINLEN:20"
  }
  withName: BOWTIE2_REMOVE_CONTAMINANTS {
    publishDir = [ path: "${params.outdir}/filtered", mode: 'copy' ]
    ext.args = "--very-sensitive -k 1 --no-unal"
  }
  withName: FASTQC {
    container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
  }
  withName: FASTQC_RIBO_RAW {
    publishDir = [ path: "${params.outdir}/qc/ribo/raw", mode: 'copy' ]
    ext.suffix = '0-raw'
  }
  withName: FASTQC_RIBO_TRIM {
    publishDir = [ path: "${params.outdir}/qc/ribo/trimmed", mode: 'copy' ]
    ext.suffix = '1-trimmed'
  }
  withName: FASTQC_RIBO_FILTER {
    publishDir = [ path: "${params.outdir}/qc/ribo/filtered", mode: 'copy' ]
    ext.suffix = '2-filtered'
  }
  withName: FASTQC_RNA_RAW {
    publishDir = [ path: "${params.outdir}/qc/rna/raw", mode: 'copy' ]
    ext.suffix = '0-raw'
  }
  withName: FASTQC_RNA_TRIM {
    publishDir = [ path: "${params.outdir}/qc/rna/trimmed", mode: 'copy' ]
    ext.suffix = '1-trimmed'
  }
  withName: MULTIQC {
      container = 'multiqc/multiqc:v1.30'
      publishDir = [ path: "${params.outdir}/qc/summary", mode: 'copy' ]
      ext.args = "--fullnames"
  }
  withName: SALMON_INDEX {
      publishDir = [ path: "${params.outdir}/salmon", mode: 'copy' ]
      container = 'quay.io/biocontainers/salmon:1.10.3--h6dccd9a_2'
      ext.args = "-k 15"
    }
  withName: SALMON_QUANT_RIBO {
      publishDir = [ path: "${params.outdir}/salmon", mode: 'copy' ]
      container = 'quay.io/biocontainers/salmon:1.10.3--h6dccd9a_2'
      ext.args = "--validateMappings --seqBias --gcBias --fldMean 30 --fldSD 5"
      maxForks = 1
      memory='16 GB'
    }
  withName: SALMON_QUANT_RNA {
      publishDir = [ path: "${params.outdir}/salmon", mode: 'copy' ]
      container = 'quay.io/biocontainers/salmon:1.10.3--h6dccd9a_2'
      ext.args = "--validateMappings --seqBias --gcBias"
      maxForks = 1
      memory='16 GB'
    }
  withName: TXIMETA_TXIMPORT {
      container = 'quay.io/biocontainers/bioconductor-tximeta:1.20.1--r43hdfd78af_0'
    }
  withName: TXIMMPORT_RIBO {
      publishDir = [ path: "${params.outdir}/tximport/ribo", mode: 'copy' ]
    }
  withName: TXIMMPORT_RNA {
      publishDir = [ path: "${params.outdir}/tximport/rna", mode: 'copy' ]
    }
  withName: CUSTOM_TX2GENE {
      container = 'quay.io/biocontainers/python:3.10.4'
    }
  withName: CUSTOM_TX2GENE_RIBO {
      publishDir = [ path: "${params.outdir}/tx2gene/ribo", mode: 'copy' ]
    }
  withName: CUSTOM_TX2GENE_RNA {
      publishDir = [ path: "${params.outdir}/tx2gene/rna", mode: 'copy' ]
    }
  withName: FORMAT_COUNT_MATRIX {
      publishDir = [ path: "${params.outdir}/deltaTE/input", mode: 'copy' ]
    }
  withName: DELTATE {
      publishDir = [ path: "${params.outdir}/deltaTE/output", mode: 'copy' ]
    }
}

profiles {
  // ---------------------------
  // arm profile — for running on arm cpu architecture to force docker to emulate as amd64
  // ---------------------------
  arm {
        process {
            withName:'.*' {
              containerOptions = '--platform=linux/amd64'
            }
            withName:CUSTOM_TX2GENE{
              container = 'python:3.10.4-slim'
            }
        }
    }
}